<footer class="footer" style="background-color: white">
    <div class="container">
        <hr>
        <div class="content is-small" style="float: left">
            <p class="">Github : <a href="https://github.com/ulaval-rs/">https://github.com/ulaval-rs/</a></p>
        </div>
        <div class="content is-small" style="float: right">
            <p class="">Thème inspiré de <a href="https://github.com/chrisrhymes/bulma-clean-theme">https://github.com/chrisrhymes/bulma-clean-theme</a></p>
        </div>
    </div>
</footer>
