---
layout: page
---
{{ content }}

{% for tile in site.data.tiles %}
     <div class="card">
          <div class="card-content" style="margin-bottom: 2em">
              <div style="float: left">
                  <h5>{{ tile.name }}</h5>
                  <p>Publié le {{ tile.date }}</p>
              </div>
              <div style="float: right; margin-top: 1em">
                <a href="{{ tile.link }}" class="button">Lien</a>
              </div>
              <br>
          </div>
     </div>
    <br>
{% endfor %}
